<style>
    .demo_content {
        background-color: red;
        padding: 2em;
    }
</style>

<div class="demo_content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deleniti dignissimos inventore, optio reiciendis rerum tempore. Ad assumenda, consequatur culpa cumque eligendi est, fuga maiores necessitatibus, nemo nesciunt totam unde?
</div>