<div class="main-landing-content">
    <h1>Scribbler</h1>
    <p>welcome to the future</p>
    <p>Hello</p>
   <div class="slick-carousel-plugin">
       <div>your content</div>
       <div>your content</div>
       <div>your content</div>
   </div>
</div>