<h2>Following</h2>
<ul class="list-group">
  <% @user.friendships.each do |friendship| %>
      <li class="list-group-item"><%= render partial: 'user/entry', locals: {user: friendship.friend} %></li>
  <% end %>
</ul>