<h2>Following</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
      <li>
        <%= link_to friendship.friend.username, user_profile_path(friendship.friend.username) %>
      </li>
  <% end %>
</ul>