<!--render 'head'-->
<%= render partial: 'layouts/header'%>
<h1>user's profile</h1>
<div class="quick_nav">

  <ul id="menu-v">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
    <li><a href="#">Item 5</a></li>
    <li><a href="#">Item 6</a></li>
    <li><a href="#">Item 7</a></li>
    <li><a href="#">Item 8</a></li>
    <li><a href="#">Item 9</a></li>
    <li><a href="#">Item 10</a></li>
    <li><a href="#">Item 11</a></li>
    <li><a href="#">Item 12</a></li>
  </ul>

</div>

<div class="profile_main_col">

  <div id="tabs">

    <div id="tabs-1">
      <div id="main_feed">
        Corned beef sirloin pork, pork belly ipsum fatback aliquip ut. Leberkas sed consectetur shank sint. Cupim voluptate aliquip chicken t-bone, hamburger eu venison. Lorem in laboris, tri-tip cupidatat frankfurter bacon. Non aliqua irure cupim in ut quis andouille. Ham in doner tenderloin chuck, reprehenderit anim labore shankle ea ball tip occaecat cow turducken. Magna velit sirloin tri-tip ad.
      </div>
    </div>

    <div id="tabs-2">
      <div id="friend_feed">
        Corned beef sirloin pork, pork belly ipsum fatback aliquip ut. Leberkas sed consectetur shank sint. Cupim voluptate aliquip chicken t-bone, hamburger eu venison. Lorem in laboris, tri-tip cupidatat frankfurter bacon. Non aliqua irure cupim in ut quis andouille. Ham in doner tenderloin chuck, reprehenderit anim labore shankle ea ball tip occaecat cow turducken. Magna velit sirloin tri-tip ad.
      </div>
    </div>

  </div>

  <div id="result_feed">
    Corned beef sirloin pork, pork belly ipsum fatback aliquip ut. Leberkas sed consectetur shank sint. Cupim voluptate aliquip chicken t-bone, hamburger eu venison. Lorem in laboris, tri-tip cupidatat frankfurter bacon. Non aliqua irure cupim in ut quis andouille. Ham in doner tenderloin chuck, reprehenderit anim labore shankle ea ball tip occaecat cow turducken. Magna velit sirloin tri-tip ad.
  </div>


</div>

<div class="friend_list">
  <h2>Friend List</h2>
  Corned beef sirloin pork, pork belly ipsum fatback aliquip ut. Leberkas sed consectetur shank sint. Cupim voluptate aliquip chicken t-bone, hamburger eu venison. Lorem in laboris, tri-tip cupidatat frankfurter bacon. Non aliqua irure cupim in ut quis andouille. Ham in doner tenderloin chuck, reprehenderit anim labore shankle ea ball tip occaecat cow turducken. Magna velit sirloin tri-tip ad.
</div>

<%= render partial: 'layouts/footer'%>