ul li {
  list-style-type: none;
}
@media(max-width: 639px) {
  /*--FONTS--*/
  * {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  .footerWrapper {
    width: 80%;
    margin: 0 auto;
  }

  footer {
    padding: 6px;
    border-radius: 4px;
    opacity: .5;
    color: #aaa;
    text-align: center;
  }

  #scribbler_logo h1 a {
    text-decoration: none;
  }

  .hero {
    background-image: url('phone_scribbler_initial.png');
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .login {
    position: relative;
  }

  .login li a {
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: .3em;
    padding-right: .3em;
    background-color: #333;
    color: #aaa;
  }

  .login li a:hover {
    background-color: #f50;
  }
}
@media(min-width: 640px) {
  /*--FONTS--*/
  * {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }
  .hero {
    background-image: url('desktop_scribbler_logo2.png');
    width: 320px;
    height: 80px;
  }

  h1 {
    font-family: 'Righteous', cursive;
  }

  .branding_image {
    border-top: 1px solid #f50;
    background-image: url('news_logo.png');
    width: 432px;
    height: 288px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .profile_image {
    background: #000;
    width: 200px;
    height: 200px;
    background-size: contain;
  }

  .login {
    position: relative;
  }

  .login li a {
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: .3em;
    padding-right: .3em;
    background-color: #333;
    color: #aaa;
  }

  .login li a {
    color: #aaa;
  }
  .green a {
    background-color: #070 !important;
    color: #fff !important;
  }
  .green a:hover {
    background-color: #fff !important;
    color: #0a0 !important;
  }

  .login li a:hover {
    background-color: #f50;
  }
  .newsBanner {
    clear: both;
  }
  /*THIS BLOCK IS FOR STYLE-TESTING, IF YOU HAVE CSS TO TEST, PLACE IN INSIDE. IF IT WORKS, MOVE IT OUT
  TO WHERE IT BELONGS, PLEASE LEAVE THE TESTER CLASS IN PLACE.*/
  .tester {
    background-color: red;
  }

  /*END TESTING BLOCK END TESTING BLOCK END TESTING BLOCK END TESTING BLOCK END TESTING BLOCK*/

}

