/*COLOR VARIABLES*/
$toolbar_color: #E0E0E0;
$accent_color_gray: #999;
$link_color: #3456f1;





nav.nav-bar {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid $accent_color_gray;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
    }
  }
  a {
    color: $link_color;
  }
  a:link {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
  }
  a:hover {
    background-color: darken(#EEE, 1%);
    color: transparent;
    text-shadow: 0 0 1px $link_color;
  }
}