// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form input {
  width: 100%;

}
.profile_box {
  background-color: #eee;
  padding: 5px;
  border-radius: 6px;
}
.profile_box span {
  text-shadow: 0 0 1px #000;
}
.friendsList_box {
  background-color: #eef;
}
.user_upload_section {
 border-top: 1px solid #000;
  margin-top: 3%;
}
.user_upload_section div+div {

}
.toolBar {
  color: #f50;
  margin-top: 25px;
}

.user_albums {
  padding: 4px;
  color: deepskyblue;
}
.friends {
  margin-top: 20px;
  padding: 4px;
  border-radius: 8px;
  background-color: deepskyblue;
  box-shadow: 0 0 3px #000;
  color: #fff;
}
.friends:hover {
  background-color: #555;
  color: #f50;
}
.tab_gallery li {
  color: #f50;
}
.tab_gallery a {
  color: #0c0;
}
#main_feed h2 {
  color: #f50;
}
#friend_feed h2 {
  color: deepskyblue;
}