input + .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;

  .active {
    background-color: #add8e6;
  }
}

.user_search_result {
  padding: 0.5em 0;
  h3 {
    margin: 0;
  }
}