<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>


<div class="image_grid">
  <div class="grid_item">
    <% @images.each do |image| %>
        <%= render partial: 'images/grid_cell', locals: {image: image} %>
    <% end %>
  </div>
</div>


<br>


<%= paginate @images %>
<%= link_to 'New Image', new_image_path %>