<div class="friendsList_box col-lg-4">
  <div class="user_albums">
    <h3>Albums</h3>
    <!--THESE DIVS ARE FOR THE ACCORDIAN-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% if current_user.albums.count == 0 %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <!-- <= link_to 'Creative Pics' , album_path(current_user.id) %>-->
                <%= link_to 'Create New Album', album_new_page_path(@album, username: current_user.username) %>
              </h4>
            </div>
          </div>
      <% else %>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <%= link_to "Albums: #{@user.accessible_albums(current_user).count}",album_index_page_path(username: @user.username) %>
                </h4>
              </div>
          </div>
      <% end %>
      </div>
  </div>
  <!--END ALBUMS-->
<!--  <div class="Friends">
    <h3>Friends</h3>
    <ul>
      <li><a href="#">Friend1</a> <img src="#" alt="friend1 profile picture"></li>
      <li><a href="#">Friend2</a> <img src="#" alt="friend2 profile picture"></li>
      <li><a href="#">Friend3</a> <img src="#" alt="friend3 profile picture"></li>
      <li><a href="#">Friend4</a> <img src="#" alt="friend4 profile picture"></li>
      <li><a href="#">Friend5</a> <img src="#" alt="friend5 profile picture"></li>
      <li><a href="#">Friend6</a> <img src="#" alt="friend6 profile picture"></li>
      <li><a href="#">Friend7</a> <img src="#" alt="friend7 profile picture"></li>
      <li><a href="#">Friend8</a> <img src="#" alt="friend8 profile picture"></li>
      <li><a href="#">Friend9</a> <img src="#" alt="friend9 profile picture"></li>
      <li><a href="#">Friend10</a> <img src="#" alt="friend10 profile picture"></li>
    </ul>
  </div>-->

  <%= yield :friends_box %>
  <%= render partial: 'layouts/mini_conversation' %>
</div>