<header>

  <%= render partial: 'layouts/navbar' %>

  <% if current_user.nil? %>
      <div class="col-md-8">
        <div class="jumbotron">

          <p>D's carousel goes here. Will be hidden on login.</p>

        </div>
      </div>
  <% end %>
  <div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>
  </div>
</header>