<header>
  <%= render partial: 'layouts/navbar' %>
  <div class="col-md-8">
    <div class="jumbotron">
      <span>this will be removed on login</span>
    </div>
  </div>
  <div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>
  </div>
</header>