<header>
  <%= render partial: 'layouts/navbar' %>

  <div class="jumbotron">
    <span>plugin</span>
  </div>

  <div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>
  </div>
</header>