<header>

  <%= render partial: 'layouts/navbar' %>

  <% if current_user.nil? %>

      <div class="col-md-8">
        <div class="jumbotron">
          <!--script moved for loading improvement-->


          <div class="main-landing-content">
            <h5>welcome to scribbler.&nbsp;&nbsp;&nbsp;&nbsp;where image artists play.</h5>

            <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel ">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">&#9001;</a>
              <a class="next">&#9002;</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
            </div>
            <br>

            <div id="links" class="links" style="display: none">
              <a href="https://farm2.static.flickr.com/1569/24012612003_681d9dddc4_b.jpg" title="For Me" data-gallery=""><img src="https://farm2.static.flickr.com/1569/24012612003_681d9dddc4_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1565/24267643669_9a20d39ed3_b.jpg" title="Jurassic Park - Evening Viewing" data-gallery=""><img src="https://farm2.static.flickr.com/1565/24267643669_9a20d39ed3_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1605/24278351039_aa0665aacb_b.jpg" title="Boys, they wanna have Fun" data-gallery=""><img src="https://farm2.static.flickr.com/1605/24278351039_aa0665aacb_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1539/24007121034_490848df3d_b.jpg" title="A Rundle Morning" data-gallery=""><img src="https://farm2.static.flickr.com/1539/24007121034_490848df3d_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1686/24611566706_304688836e_b.jpg" title="Timing was everything . . ." data-gallery=""><img src="https://farm2.static.flickr.com/1686/24611566706_304688836e_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1698/24542914312_d03d205929_b.jpg" title="Delta Dreams VI." data-gallery=""><img src="https://farm2.static.flickr.com/1698/24542914312_d03d205929_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1445/24562647431_af9ba50990_b.jpg" title="Black-Capped Chickadee" data-gallery=""><img src="https://farm2.static.flickr.com/1445/24562647431_af9ba50990_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1479/24282187769_39149841de_b.jpg" title="Aurora dream at the lighthouse" data-gallery=""><img src="https://farm2.static.flickr.com/1479/24282187769_39149841de_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1611/24350373230_ce4bd38a7d_b.jpg" title="Grumble" data-gallery=""><img src="https://farm2.static.flickr.com/1611/24350373230_ce4bd38a7d_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1565/24568870911_a071b481cf_b.jpg" title="John McLenaghan Photography" data-gallery=""><img src="https://farm2.static.flickr.com/1565/24568870911_a071b481cf_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1706/24645920335_a246e393f4_b.jpg" title="full moon tranquility" data-gallery=""><img src="https://farm2.static.flickr.com/1706/24645920335_a246e393f4_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1556/24018406763_47db5b6280_b.jpg" title="SUBWAY" data-gallery=""><img src="https://farm2.static.flickr.com/1556/24018406763_47db5b6280_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1516/24569660601_6e2319b7aa_b.jpg" title="Sleep Nectaring..." data-gallery=""><img src="https://farm2.static.flickr.com/1516/24569660601_6e2319b7aa_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1640/24557085281_5cd41251b8_b.jpg" title="Catchy Colors - Blue and Yellow" data-gallery=""><img src="https://farm2.static.flickr.com/1640/24557085281_5cd41251b8_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1595/24642602865_2245ba81ec_b.jpg" title="A tree lined home to sheep" data-gallery=""><img src="https://farm2.static.flickr.com/1595/24642602865_2245ba81ec_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1521/24008674193_3512a647b3_b.jpg" title="White Out (5/52)" data-gallery=""><img src="https://farm2.static.flickr.com/1521/24008674193_3512a647b3_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1481/24025192283_223a468948_b.jpg" title="Castle at sunrise" data-gallery=""><img src="https://farm2.static.flickr.com/1481/24025192283_223a468948_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1709/24646880465_4081753d83_b.jpg" title="Comme a la montagne ..." data-gallery=""><img src="https://farm2.static.flickr.com/1709/24646880465_4081753d83_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1569/24271439929_533d18a6a0_b.jpg" title="Valley of the oaks." data-gallery=""><img src="https://farm2.static.flickr.com/1569/24271439929_533d18a6a0_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1603/24023854753_97f46dfb62_b.jpg" title="Boardman, Oregon Tree Farm has been sold and will soon be no more" data-gallery=""><img src="https://farm2.static.flickr.com/1603/24023854753_97f46dfb62_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1639/24274654139_23b11d6fd5_b.jpg" title="After you" data-gallery=""><img src="https://farm2.static.flickr.com/1639/24274654139_23b11d6fd5_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1503/24646312805_efe7044f98_b.jpg" title="Valentino Castle  1633 UNESCO - Turin ( Explore )" data-gallery=""><img src="https://farm2.static.flickr.com/1503/24646312805_efe7044f98_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1707/24621339156_db0426003b_b.jpg" title="Stronghold" data-gallery=""><img src="https://farm2.static.flickr.com/1707/24621339156_db0426003b_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1601/24560797591_9c1731f62f_b.jpg" title="Gorilla" data-gallery=""><img src="https://farm2.static.flickr.com/1601/24560797591_9c1731f62f_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1567/24346491100_de9362e72e_b.jpg" title="................" data-gallery=""><img src="https://farm2.static.flickr.com/1567/24346491100_de9362e72e_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1654/24564243701_863ff54f6a_b.jpg" title="Sunset snack" data-gallery=""><img src="https://farm2.static.flickr.com/1654/24564243701_863ff54f6a_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1713/24013846274_682c41bbe3_b.jpg" title="Accurate watches" data-gallery=""><img src="https://farm2.static.flickr.com/1713/24013846274_682c41bbe3_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1690/24561602581_012847899b_b.jpg" title="the brave bavarian" data-gallery=""><img src="https://farm2.static.flickr.com/1690/24561602581_012847899b_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1710/24543012892_53da53d89d_b.jpg" title="měsíční svit  -  Helios 44-2" data-gallery=""><img src="https://farm2.static.flickr.com/1710/24543012892_53da53d89d_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1661/24281544419_5539e1ff85_b.jpg" title="Le coq .." data-gallery=""><img src="https://farm2.static.flickr.com/1661/24281544419_5539e1ff85_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1481/24025192283_223a468948_b.jpg" title="Castle at sunrise" data-gallery=""><img src="https://farm2.static.flickr.com/1481/24025192283_223a468948_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1487/24620708386_6135a24678_b.jpg" title="Two at Tongaporutu (Explored)" data-gallery=""><img src="https://farm2.static.flickr.com/1487/24620708386_6135a24678_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1495/24282204829_46ccfaf992_b.jpg" title="Eye :) - Explored!" data-gallery=""><img src="https://farm2.static.flickr.com/1495/24282204829_46ccfaf992_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1461/24283712939_0bb98064a7_b.jpg" title="Dry Nature" data-gallery=""><img src="https://farm2.static.flickr.com/1461/24283712939_0bb98064a7_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1514/24641151235_453b84c03b_b.jpg" title="zigzag" data-gallery=""><img src="https://farm2.static.flickr.com/1514/24641151235_453b84c03b_s.jpg"></a>
              <a href="https://farm2.static.flickr.com/1691/24348414780_51791f35b9_b.jpg" title="Morning illuminations" data-gallery=""><img src="https://farm2.static.flickr.com/1691/24348414780_51791f35b9_s.jpg"></a>
            </div>




          </div>
          <!--Scripts needed for gallery carousel-->
          <script>
              blueimp.Gallery(
                      document.getElementById('links').getElementsByTagName('a'),
                      {
                          container: '#blueimp-gallery-carousel',
                          carousel: true
                      }
              );

          </script>
        </div><!--end jumbotron-->
      </div>
  <% end %>
  <div id="notice_messages">
    <span class="notice"><%= notice %></span> <br/>
    <span class="alert"><%= alert %></span>
  </div>
</header>
